<h1><%= @team_name %></h1>
<h2>Team Motto: <%= @team_motto %></h2>
<% @heroes.each do |h| %>
<h2>Hero Name: <%= h[:name] %></h2>
<h3>Hero Power: <%= h[:power] %></h3>
<h3>Hero Biography: <%= h[:bio] %></h3>
<% end %>


